name: CMake on multiple platforms

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
    
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            cpack_flag: DEB
            extension: deb
          - os: ubuntu-latest
            cpack_flag: RPM
            extension: rpm
          - os: windows-latest
            cpack_flag: WIX
            extension: msi
          - os: macos-latest
            cpack_flag: DragNDrop
            extension: dmg
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt install rpm

      - name: Configure CMake
        run: cmake -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build --config Release

      - name: Create packages
        run: cd build && cpack -G ${{ matrix.cpack_flag }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-${{ matrix.extension }}-pack
          path: build/*.${{ matrix.extension }}

  create_release:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: download_ubuntu_deb
      uses: actions/download-artifact@v4
      with:
        name: ubuntu-latest-deb-pack
        path: artifacts/linux

    - name: download_ubuntu_rpm
      uses: actions/download-artifact@v4
      with:
        name: ubuntu-latest-rpm-pack
        path: artifacts/linux

    - name: download_windows
      uses: actions/download-artifact@v4
      with:
        name: windows-latest-pack
        path: artifacts/windows

    - name: download_macos
      uses: actions/download-artifact@v4 
      with:
        name: macos-latest-pack
        path: artifacts/macos

    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: v1.${{ github.run_number }}
        name: Release v1.${{ github.run_number }}
        files: |
          artifacts/linux/*.deb
          artifacts/linux/*.rpm
          artifacts/windows/*.msi
          artifacts/macos/*.dmg